doctype html
html(lang="en", class="no-js", ng-app='app')
  head
    meta(charset="utf-8") 
    title Kurt Price Garcia | Front End Engineer 
    link(href="/assets/img/identity/favicon.ico", rel="shortcut icon", type="image/x-icon")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Kurt Pricel Garcia | I am visionary innovator with hands on experience in software development using agile methodologies, delivering exceptional enterprise and commercial based app for smartphones, tablet, desktop, and wearable devices. I have expertise in User Experience and User Interface with over 6+ years implementing industry best practice in mobile first design, user research, usability trends, technology and mobile product development trends.')
    meta(name='author', content='Kurt Garcia - kurt.pricel06@gmail.com') 
    base(href="/")

    //- Mobile Metas  
    meta(name='viewport', content='width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no')   

    include layouts/styles 
    script(type="text/javascript", src="/vendor/modernizr/modernizr.min.js") 

  body(data-spy='scroll', data-target='.wrapper-spy')
    div.body(ui-view="")  
    include layouts/scripts